build
*~
.env
.vscode/
temporary_metadata
ready_to_upload_source_content
final_sink_content
upload_staged_files
temporary_videos
videos
streamed_packets
__pycache__
track_video_index.txt

libcamera/
logs/
variable_files/*
api_server.log
venv/
packet_buffer_for_ts
ts_segments